* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('../img/img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
}

header {    
    font-size: 1.1rem;
    background: linear-gradient(to right, lightblue, transparent);
    width: 100vw;
    padding: 1.25rem;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;    
    justify-content: flex-start;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    text-shadow: 2px 2px 10px gray;
    color: black;
}

a:hover {
    font-weight: bold;
    color: #ffd600;
    text-shadow: none;
    transition: all 0.25s;
}

.search {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

input {
    padding: 0.25rem 0.5rem;
}

button {
    background-color: #d32f2f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

main {
    margin: 3.75rem;
    font-size: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

p {
    font-style: italic;
}

main button {
    background-color: #d32f2f;
    color: white;
    font-size: medium;
    font-weight: bold;
    margin: 5rem 0;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
}

button:hover {
    background-color: red;    
    transition: all 0.25s;
}

